* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  font-family: "Fira Sans", sans-serif;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  padding: 20px;
  background-color: #000000;
  justify-content: center;
  overflow: hidden;
  display: flex;
}

#navbar a {
  display: block;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
}

#navbar a:hover {
  background-color: #393e46;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

#navbar a.active {
  background-color: #393e46;
  color: white;
  border-radius: 15px;
}

#navbar .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  #navbar a:not(:first-child) {
    display: none;
  }

  #navbar a.icon {
    float: right;
    display: block;
  }

  #navbar.responsive a {
    display: block;
    text-align: center;
    padding: 10px;

  }

  #navbar.responsive {
    position: relative;
    flex-direction: column;
  }

  #navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}


#Home {
  display: flex;
  padding: 3px 200px;
  position: relative;
  flex-wrap: wrap;
  height: 70vh;
}

.home::before {
  content: "";
  position: absolute;
  background: url("img/bg2.jpg") no-repeat center/cover;
  height: 70vh;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 1;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  #Home {
    height: 10vh;
  }

  #logo {
    right: 10vw;

  }
}

#logo {
  display: flex;
  align-items: flex-start;
  position: absolute;
  flex-direction: column;
  top: 10vh;
  font-family: "Poppins";
}

#logo h1 {
  font-size: 6vi;
  background-color: rgba(235, 235, 235, 0.466);
  border-radius: 20px;
}

#logo p {
  font-size: 2vw;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 20px;
}


#Ourservices {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;


}

#Ourservices h1 {
  padding: 10px;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  #Ourservices {
    top: 70vh;
    position: relative;
    margin: 0px;
    padding: 0px;
  }
}

#services {
  display: flex;
  cursor: default;
  position: relative;
  flex-direction: row;

}

#services h2 {
  font-size: 4vh;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 800px) {
  #services {
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    justify-content: center;

  }

  #services .box {
    height: 50vh;
    overflow:auto;
   
    
    
  }
}

#services .box {
  margin: 10px;
  padding: 10px;
  border-radius: 28px;
  background-color: #04aa6d;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 33.3%;
 

}

#services .box:hover {
  transition: 0.5s ease-in-out;
  background-color: #141010e1;
  color: white;
}

#services .box p {
  font-family: "Bree Serif", serif;
  font-size: 25px;
}

#footer {
  color: white;
  background-color: #000000;
  padding: 70px 30px 80px;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
  #footer {
    flex-direction: column;
    position: relative;
    top: 70vh;

  }
}

.styled {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 3px;
  border-radius: 5px;
  width: 70%;
  background-color: #04aa6d;
}
