* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Fira Sans", sans-serif;
  background-color: white;
  /* background-image: url('img/bg\ 3.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: inline-block;
  position: absolute;
  display: flex;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  align-content: right;
  text-align: right;
}

.Menubar,
.menu {
  position: fixed;
  text-align: right;
}

button h1 {
  color: white;
  font-family: "Euclid Circular A";
  position: relative;
  font-size: 40px;
  left: 90rem;
}

.Menubar {
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  place-items: center;
  width: 88px;
  height: 88px;
  text-align: left;
}

.menu {
  z-index: 2;
  top: 0;
  display: flex;
  place-items: left;
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.356);
  translate: 0 100%;
  transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
  left: 80vw;
}

.menu nav {
  opacity: 0;
}

@keyframes menu-in {
  0% {
    clip-path: ellipse(60% 60% at 0% 50%);
  }

  100% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}

body.open .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
  animation: menu-in 0.375s;
}

body.open .menu nav {
  opacity: 1;
}

.menu nav:hover a {
  opacity: 0.25;
}

.menu nav a:hover {
  opacity: 1;
}

.menu nav {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  margin-top: 50px;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 30px;
  font-family: "Euclid Circular A";
  padding: 10px;
  width: 300px;
  text-decoration: none;
  transition: 0.4s;
  padding: 30px;
}

.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  transition: 0.4s;
}

.menu a::before {
  opacity: 0;
  background: rgb(255 255 255 / 20%);
}

.menu a::after {
  transform: scaleX(0);
  transform-origin: 50% 0%;
  background: #f7f7f7;
}

.menu a:hover::before {
  opacity: 1;
}

.menu a:hover::after {
  transform: scaleX(1);
}

body.open .menu a {
  animation: appear 0.25s backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -30px 0;
  }

  100% {
    opacity: 1;
  }
}

#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 550px;
  position: relative;
  align-items: left;
  justify-content: center;
}

#home::before {
  content: "";
  position: absolute;
  background: url("img/bg\ forrest.jpg") no-repeat center center/cover;
  height: 642px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}

.home {
  animation: slidein-left 1s ease-in-out forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slidein-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#home h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-family: "Bree Serif", serif;
  font-size: 60px;
}

#home p {
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
  width: 700px;
  margin-top: 20px;
  color: white;
}

/* social icon */
.fa {
  padding: 20px;
  font-size: 10px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 30px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #ac2bff;
  color: white;
}

.fa-youtube-play {
  background: #ff0000;
  color: white;
}

.fa-github {
  background-color: #333;
  color: white;
}

#Skills {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 3px 50px;
  height: 90vh;
  align-items: right;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.skill_container {
  border-radius: 20px;
  align-items: center;
}

.styled {
  display: flex;
  position: relative;
  align-content: flex-end;
  border: 3px solid #007759;
  width: 100%;
  flex-direction: row;
  border-radius: 10px;
}

#Skills h3 {
  position: relative;
  /* left: 80vw; */
  font-size: 50px;
  font-family: "Euclid Circular A";
  text-align: center;
  font-family: "Bree Serif", serif;
  justify-content: center;
}

#Skills h3 span {
  background: #3e4444;
  border-radius: 10px;
  padding: 10px;
}

.skill_container p {
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
  margin-top: 20px;
  text-align: center;
}

#Projects {
  background-color: black;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 3px 50px;
  align-items: right;
  justify-content: center;
  background-color: black;
  color: white;
}

#Projects h3 {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-family: "Bree Serif", serif;
  text-align: center;
}

#Projects h3 span {
  background: #3e4444;
  border-radius: 15px;
  padding: 10px;
}

#About {
  position: relative;
  align-items: center;
}

#About h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  padding: 60px;
  font-family: "Times New Roman", Times, serif;
}

#services {
  display: flex;
  cursor: default;
  position: relative;
  margin-top: 40px;
}

#services h2 {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

#services .box {
  padding: 5px;
  margin: 10px;
  border-radius: 28px;
  background-color: #0c111da6;
  width: 33.3%;
  margin-bottom: 20px;
  text-align: center;
}

#services .box img {
  height: 33vh;
  margin: auto;
  display: block;
  border-radius: 15px;
  width: max-content;
  resize: vertical;
}

#services .box p {
  font-family: "Bree Serif", serif;
  font-size: 25px;
}

#services .box img:hover {
  transition: all 0.7s ease;
  transform: scale(1.1);
  opacity: 0.7;
}

.center {
  margin-top: 20px;
}

#services .box a {
  color: white;
  display: flex;
  left: 30%;
}

#Contact {
  background-color: black;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 3px 50px;
  align-items: right;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

#Contact h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  display: flex;
  margin-top: 70px;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  box-sizing: border-box;
}

#Contact h1 span {
  background: #3e4444;
  padding: 10px;
  border-radius: 10px;
}

#Contact .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.contact-form {
  padding: 20px 0;
  margin: 0 10px;

}

.contact-form h2 {
  display: flex;
  font-size: 50px;
  justify-content: center;
  font-family: "Raleway";
  margin-bottom: -50px;
  left: 35vw;
}

.contact-form h3 {
  display: flex;
  font-size: 30px;
  justify-content: center;
  font-family: "Trirong";
}

.form-container {
  max-width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: #0d1220;
  border-radius: 10px;
  margin-top: 30px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  font-weight: bold;
}

.form-container input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize: vertical;
}

.submit-button {
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #1b2e3f;

}

.contact-info {
  text-align: center;
  padding: 50px 0;
  background-color: #000000;
}

.contact-info h2 {
  margin-bottom: 20px;
}
